/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#home-index-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin: 30px 0 0 0;
}

.materials-index-table-col {
    text-align: left;
}

#study-materials-table {
    width: 80%;
    margin: 40px auto;
}

.privacy-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}
@media only screen and (max-width: 600px) {
    .privacy-avatar {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 100%;
        margin: 0;
    }
    .privacy-info {
        margin: 0px 0px;
        font-size: 5px;
    }
    .privacy-info-header {
        font-size: 15px;
    }
    .privacy-info-desc {
        font-size: 15px;
    }
    .vk-btn {
        margin: 0;
    }
}
#vanya {
    object-position: 75%;
}
#danya {
    object-position: 50% 10%;
}
.privacy-info {
    margin: 25px 40px;
}
.privacy-card {
    opacity: 0%;
}
#vanya-card {
    animation: 0.5s ease-out 75ms 1 slideInFromLeft forwards;
}
#dima-card {
    animation: 0.5s ease-out 150ms 1 slideInFromLeft forwards;
}
#maks-card {
    animation: 0.5s ease-out 225ms 1 slideInFromLeft forwards;
}
#danya-card {
    animation: 0.5s ease-out 300ms 1 slideInFromLeft forwards;
}
#group-card {
    animation: 0.5s ease-out 375ms 1 slideInFromLeft forwards;
}
#privacy-main {
    margin: 40px;
}
.vk-btn {
    margin: 25px 0 25px 0;
}
.day-card {
    width: 600px;
    height: 450px;
    font-size: 13px;
    margin: 10px;
    background-color: #B5C689;
    color: #F0DDDA;
    text-shadow: 0px 0px 1px #BDA18C;
}
.day-card, .homework-table-text, .homework-table-text-note {
    color: #ffffff;
    text-shadow: 0px 0px 1px #A49DC7;
}
.homework-table-text-note {
    background-color: #f08984;
}

#invisible-block {
    width: 22%;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}
.homework-day-table {
    border: 5px solid rgba(158, 173, 120, 0.5);
    table-layout: fixed;
    width: 100%;
}
#week-and-semester-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}
#selectSemester {
    margin: 0px 75px;
    width: 20%;
}
@media only screen and (max-width: 1100px) {
    .homework-day-table {
        border: 5px solid rgba(158, 173, 120, 0.5);
        table-layout: fixed;
        width: 100%;
    }
    #week-and-semester-filters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #selectSemester {
        margin: 25px;
        width: 100%;
    }
}
.homework-day-table-col {
    border: 5px solid rgba(158, 173, 120, 0.5);
}
.homework-day-table-col-note {
    border: 5px solid #ab605c;
}
#login-form-login, #login-form-password, #login-form-btn {
    margin: 35px auto;
    width: 400px;
}
#login-form {
    margin: auto;
    width: 400px;
}
.homework-value {
    margin: 2px 5px 2px 1px;
}

#modal-window {
    width: 300px;
}
@media only screen and (max-width: 1100px) {
    #home-index-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
}
#day-cards-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
@media only screen and (max-width: 1000px) {
    #day-cards-main {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: auto;
        margin: auto;
    }
    .day-card {
        height: auto;
        width: auto;
    }
}
#selectWeek {
    width: 325px;
}
#week-parity {
    font-size: 28px;
    margin-top: 0px;
}
#filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#homework-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}
.btn-homework {
    height: 40px;
    width: 40px;
}

*/
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.container-fluid {
    margin: 0;
}

.navbar {
    padding: 0;
}

header {
    padding: 0;
}

.nav-item {
    height: 4.5rem;
}

.logo svg {
    height: 4rem;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background-color: #141414;
}

    .nav-link:hover svg {
        fill: #ce68de;
    }

.nav-item:last-child {
    margin-left: auto;
}

.navbar-nav {
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
}

main {
    margin-top: 2rem;
}

body {
    margin-bottom: 60px;
}

.nav-link svg {
    width: 2rem;
    margin: 0 0.5rem 0 1rem;
    fill: grey;
    transition: 400ms;
}

.nav-link {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

    .nav-link div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
    }

@media only screen and (max-width: 1100px) {
    .nav-link {
        display: flex;
        align-content: start;
        justify-content: start;
        height: 100%;
        width: 100vw;
        margin: 0;
    }

        .nav-link svg {
            width: 2rem;
            margin: 0 0.5rem 0 1rem;
            fill: grey;
            transition: 400ms;
        }

    .container-fluid {
        padding: 0;
    }
}

#home-index-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin: 30px 0 0 0;
}

.materials-index-table-col {
    text-align: left;
}

#study-materials-table {
    width: 80%;
    margin: 40px auto;
}

.privacy-avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

@media only screen and (max-width: 600px) {
    .privacy-avatar {
        width: 125px;
        height: 125px;
        object-fit: cover;
        border-radius: 100%;
        margin: 0;
    }

    .privacy-info {
        margin: 0px 0px;
        font-size: 5px;
    }

    .privacy-info-header {
        font-size: 15px;
    }

    .privacy-info-desc {
        font-size: 15px;
    }

    .vk-btn {
        margin: 0;
    }
}

#vanya {
    object-position: 75%;
}

#danya {
    object-position: 50% 10%;
}

.privacy-info {
    margin: 25px 40px;
}

.privacy-card {
    opacity: 0%;
}

#vanya-card {
    animation: 0.5s ease-out 75ms 1 slideInFromLeft forwards;
}

#dima-card {
    animation: 0.5s ease-out 150ms 1 slideInFromLeft forwards;
}

#maks-card {
    animation: 0.5s ease-out 225ms 1 slideInFromLeft forwards;
}

#danya-card {
    animation: 0.5s ease-out 300ms 1 slideInFromLeft forwards;
}

#group-card {
    animation: 0.5s ease-out 375ms 1 slideInFromLeft forwards;
}

#privacy-main {
    margin: 40px;
}

.vk-btn {
    margin: 25px 0 25px 0;
    width: 5rem;
}

    .vk-btn svg {
        max-height: 3rem;
        fill: InfoBackground;
    }

.day-card {
    width: 600px;
    min-height: 200px;
    max-height: 800px;
    font-size: 13px;
    margin: 10px;
    background-color: #B5C689;
    color: #F0DDDA;
    text-shadow: 0px 0px 1px #BDA18C;
}

.day-card, .homework-table-text, .homework-table-text-note {
    color: #ffffff;
    text-shadow: 0px 0px 1px #A49DC7;
}

.homework-table-text-note {
    background-color: #f08984;
}

#invisible-block {
    width: 22%;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.homework-day-table {
    border: 5px solid rgba(158, 173, 120, 0.5);
    table-layout: fixed;
    width: 100%;
}

#week-and-semester-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
}

#selectSemester {
    margin: 0px 75px;
    width: 20%;
}

@media only screen and (max-width: 1100px) {
    .homework-day-table {
        border: 5px solid rgba(158, 173, 120, 0.5);
        table-layout: fixed;
        width: 100%;
    }

    #week-and-semester-filters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #selectSemester {
        margin: 25px;
        width: 100%;
    }
}

.homework-day-table-col {
    border: 5px solid rgba(158, 173, 120, 0.5);
}

.homework-day-table-col-note {
    border: 5px solid #ab605c;
    border-radius: 5px 5px 5px 5px;
}
.homework-day-table-col-note-text {
    width: 100%;
    max-width: 15%;
}

#login-form-login, #login-form-password, #login-form-btn {
    margin: 35px auto;
    width: 400px;
}

#login-form {
    margin: auto;
    width: 400px;
}
@media only screen and (max-width: 1100px) {
    #login-form {
        margin: auto;
        width: 90%;
    }
    #login-form .vw-80 {
        width: 100%;
    }
    #login-form-btn {
        width: 100%;
    }
}
.newpassword-field {
    width: 25%;
}
@media only screen and (max-width: 1100px) {
    .newpassword-field {
        width: 75vw;
    }
}

.homework-value {
    margin: 2px 5px 2px 1px;
}

#modal-window {
    width: 300px;
}

@media only screen and (max-width: 1100px) {
    #home-index-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
    }
}

#day-cards-main {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}

#day-cards-half-1 {
    flex-direction: row;
    display: flex;
}

#day-cards-half-2 {
    flex-direction: row;
    display: flex;
}

#day-cards-half-3 {
    flex-direction: row;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    #day-cards-main {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: auto;
        margin: auto;
    }

    #day-cards-half-1 {
        flex-direction: column;
        display: flex;
    }

    #day-cards-half-2 {
        flex-direction: column;
        display: flex;
    }

    #day-cards-half-3 {
        flex-direction: column;
        display: flex;
    }

    .day-card {
        height: auto;
        width: auto;
    }
}

#selectWeek {
    width: 325px;
}

#week-parity {
    font-size: 28px;
    margin-top: 0px;
}

#filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#homework-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
}

.btn-homework {
    height: 40px;
    width: 40px;
}

.homework-day-table-note {
    border: 5px solid #ab605c;
    border-radius: 25px;
    border-collapse: collapse;
    padding: 0;
}
.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
