@{
    ViewData["Title"] = "Информация о группе";
}
<h1>@ViewData["Title"]</h1>

<div id="privacy-main" class="vw-50">
    <div id="vanya-card" class="flex-row w-50 d-flex align-items-center privacy-card">
        <div>
        <img class="privacy-avatar" id="vanya" src="https://sun9-22.userapi.com/impg/154TGH9UysBFV_NHVqqTOp4ORXg2AwNl9zjkVw/RDSG9w-eOFY.jpg?size=1024x683&quality=95&sign=724244e8ed2417d781a3258a8955c574&type=album"/>

        </div>
        <div class="privacy-info">
            <h4 class="privacy-info-header">Иван Новиков</h4>
            <h5 class="privacy-info-desc">Староста</h5>
            <a href="https://vk.com/arr1ess" target="_blank" class="btn btn-primary vk-btn">ВКонтакте</a>
        </div>
    </div>
    <div id="dima-card" class="flex-row w-50 d-flex align-items-center privacy-card">
        <div>
        <img class="privacy-avatar" id="dima" src="https://sun9-30.userapi.com/impg/oPHaWyFHzUhEwT3UMTcytItaakWO1wPBj6UHEQ/kzlIM0DHfeQ.jpg?size=1617x2160&quality=96&sign=d6a754e4c6ec82aabf4a0afd15a4ae75&type=album"/>

        </div>
        <div class="privacy-info">
            <h4 class="privacy-info-header">Дмитрий Юдин</h4>
            <h5 class="privacy-info-desc">Профсоюзный организатор</h5>
            <a href="https://vk.com/diman_kt" target="_blank" class="btn btn-primary vk-btn">ВКонтакте</a>
        </div>
    </div>
    <div id="maks-card" class="flex-row w-50 d-flex align-items-center privacy-card">
        <div>
            <img class="privacy-avatar" id="maks" src="https://sun9-58.userapi.com/impg/6PhD7bwspJKdFLqjhVCIAvGGl7Q1sgsQD-apgg/6X0fuqvEeBk.jpg?size=1215x2160&quality=95&sign=30a0adfeed367c0ba2d144e9328238f1&type=album"/>
        </div>
        <div class="privacy-info">
            <h4 class="privacy-info-header">Максим Литвинов</h4>
            <h5 class="privacy-info-desc">Студенческий организатор</h5>
            <a href="https://vk.com/alcarent" target="_blank" class="btn btn-primary vk-btn">ВКонтакте</a>
        </div>
    </div>
    <div id="danya-card" class="flex-row w-50 d-flex align-items-center privacy-card">
        <div>
        <img class="privacy-avatar" id="danya" src="https://sun9-8.userapi.com/impg/qqA9PXx8fKHmcpYhQLUJm0pvd5pIGHF5_7XvXQ/FGuDi6TWN9k.jpg?size=900x1600&quality=95&sign=07ec61d1f05b661cbbda2d7bf8fd8d55&type=album"/>

        </div>
        <div class="privacy-info">
            <h4 class="privacy-info-header">Данияр Муканалиев</h4>
            <h5 class="privacy-info-desc">Администратор сайта и группы ВК</h5>
            <a href="https://vk.com/nightingale997" target="_blank" class="btn btn-primary vk-btn">ВКонтакте</a>
        </div>
    </div>
    <div id="group-card" class="flex-row w-50 d-flex align-items-center privacy-card">
        <img class="privacy-avatar" src="https://sun9-86.userapi.com/impg/i_EAZfReY_oCiYROzXUKMIU1m4TTf-_VZOAG4w/2nfrI_BcoRE.jpg?size=1000x1000&quality=95&sign=48811f8064d69aeb7a45bd21cc009e65&type=album"/>
        <div class="privacy-info">
            <h4 class="privacy-info-header">ПМИб-221 (ВОЛГУ)</h4>
            <h5 class="privacy-info-desc">Группа ВК</h5>
            <a href="https://vk.com/pmib221" target="_blank" class="btn btn-primary vk-btn">ВКонтакте</a>
        </div>
    </div>
</div>
